<Config>
  <Bounds lowValue="0" highvalue="1000" />
  <Load autoLoadType="0" autoSmoothIterator="-1" lootAlg="0" useAreaCheckBx="True" useQuestCheckBx="True" />
  <Rarity_Bounds rarBoundsCfg="2147483647,600,300,100,-2147483648" />
  <Rarity_Names rarNamesCfg="Normal,Verbessert,Überlegen,Legendär" />
  <!-- Farben der Wahrscheinlickeitsabtrennung (muss gleichviele Elemente haben wie rarNames&rarBounds!) -->
  <rarColCfg>
    <Color>LightGray</Color>
    <Color>Green</Color>
    <Color>DarkViolet</Color>
    <Color>DarkGoldenrod</Color>
  </rarColCfg>
  <!-- Farben der Wahrscheinlickeitsabtrennung (muss gleichviele Elemente haben wie rarNames&rarBounds!) -->
  <rarDesriptionCfg>
    <String>Mega kacke</String>
    <String>Geht so</String>
    <String>Schon ice</String>
    <String>Töfte</String>
  </rarDesriptionCfg>
</Config>