<Config>
  <Bounds lowValue="0" highvalue="1000" />
  <Load autoLoadType="-1" autoSmoothIterator="-1" lootAlg="2" useAreaCheckBx="True" useQuestCheckBx="True" />
  <Rarity_Bounds rarBoundsCfg="2147483647,600,300,100,51,-2147483648" />
  <Rarity_Names rarNamesCfg="Normal,Verbessert,Überlegen,Legendär,Artefakt" />
  <!-- Farben der Wahrscheinlickeitsabtrennung (muss gleichviele Elemente haben wie rarNames&rarBounds!) -->
  <rarColCfg>
	<Color>Black</Color>
    <Color>Green</Color>
    <Color>DarkViolet</Color>
    <Color>DarkGoldenrod</Color>
	<Color>Red</Color>
  </rarColCfg>
</Config>